<nav class="bg-gray-800 text-white p-4 flex justify-between items-center w-full">

  <div class="text-xl font-bold flex-1">
    <a routerLink="/" class="hover:text-gray-300 transition-colors">PokéApp</a>
  </div>

  <div class="flex gap-6 justify-center flex-1">
    <a
      routerLink="/generations"
      routerLinkActive="text-blue-400 font-bold"
      class="hover:text-gray-300 transition-colors">
      Générations
    </a>
    <a
      routerLink="/pokemons"
      routerLinkActive="text-blue-400 font-bold"
      class="hover:text-gray-300 transition-colors">
      Pokémons
    </a>
  </div>

  <div class="flex gap-4 items-center justify-end flex-1">
    @if (auth.currentUser(); as user) {
      <a routerLink="/profil" class= "h-10 w-10 bg-white rounded-full flex items-center justify-center text-gray-800 font-bold uppercase shadow-sm shrink-0">
        {{ user.name.charAt(0) }}
      </a>
      <button
        (click)="onLogout()"
        class="bg-red-600 hover:bg-red-700 text-xs font-medium py-1.5 px-3 rounded transition-colors cursor-pointer">
        Déconnexion
      </button>
    }
    @else {
      <a
        routerLink="/login"
        routerLinkActive="text-blue-400 font-bold"
        class="hover:text-gray-300 transition-colors">
        Login
      </a>
    }
  </div>

</nav>
