<div class="m-2">
  <div class="flex flex-col md:flex-row justify-between items-center mb-6 gap-4">
    <div class="w-full md:w-64">
      <input
        type="text"
        [value]="searchInputValue()" (input)="onSearchChange($event)"
        placeholder="Rechercher (ex: ditto, 25)..."
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-sm"
      />
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4">
    @for (item of pokemons(); track item.id) {
      <div
        (click)="openPokemonDetails(item)"
        class="relative border border-gray-200 rounded-lg p-4 flex flex-col items-center cursor-pointer transition-all hover:shadow-lg hover:border-blue-300 bg-white"
      >
        <img [src]="item.sprites.front_default" [alt]="item.displayName" />
        <h3 class="text-lg font-bold mb-2">{{ item.displayName }}</h3>
        <div class="mb-2 flex gap-1 items-center">
          @for (t of item.types; track t.slot) {
            <span class="px-2 py-0.5 bg-blue-100 text-blue-800 rounded text-xs font-semibold">
              {{ t.type.frenchName }}
            </span>
          }
        </div>
      </div>
    } @empty {
      <p class="col-span-3 text-center text-gray-500 py-4">Aucun Pokémon trouvé.</p>
    }
  </div>

  @if (selectedPokemon(); as pokemon) {
    <div class="fixed inset-0 bg-black/50 backdrop-blur-sm flex items-center justify-center z-50"
         (click)="closePopUp()">

      <div class="bg-white rounded-2xl p-6 max-w-sm w-full mx-4 shadow-2xl relative" (click)="$event.stopPropagation()">

        <button
          (click)="closePopUp()"
          class="absolute top-4 right-4 text-gray-400 hover:text-gray-600 font-bold text-xl transition-all duration-300 ease-in-out hover:rotate-90 hover:scale-125 inline-block"
        >
          ✕
        </button>

        <div class="flex flex-col items-center text-center">
          <div class="flex gap-4">
            <img [src]="pokemon.sprites.front_default" class="w-24 h-24" alt="Normal" />
            <img [src]="pokemon.sprites.front_shiny" class="w-24 h-24" alt="Shiny" />
          </div>

          <span class="text-xs font-mono text-gray-400">N° {{ pokemon.id }}</span>
          <h3 class="text-2xl font-black text-gray-800 mb-2">{{ pokemon.displayName }}</h3>

          <div class="flex gap-2 mb-4">
            @for (t of pokemon.types; track t.slot) {
              <span class="px-3 py-1 bg-blue-500 text-white rounded-full text-xs font-bold uppercase tracking-wider">
                {{ t.type.frenchName }}
              </span>
            }
          </div>
          <div class="w-full border-t border-gray-100 pt-4 mt-2">
            <p
              class="text-sm text-gray-600 italic bg-gray-50 p-3 rounded-xl border border-gray-100 my-2 leading-relaxed">
              " {{ pokemon.description }} "
            </p>
          </div>

          <div class="grid grid-cols-2 gap-4 w-full border-t border-gray-100 pt-4 mt-2">
            <div class="bg-gray-50 p-2 rounded-lg">
              <span class="text-xs text-gray-400 block uppercase">Taille</span>
              <strong class="text-gray-700 text-lg">{{ pokemon.height / 10 }} m</strong>
            </div>
            <div class="bg-gray-50 p-2 rounded-lg">
              <span class="text-xs text-gray-400 block uppercase">Poids</span>
              <strong class="text-gray-700 text-lg">{{ pokemon.weight / 10 }} kg</strong>
            </div>
          </div>
        </div>

      </div>
    </div>
  }
</div>
